.aider*
node_modules
/.cargo/
/dist/
/target/
*.happ
*.webhapp
*.zip
*.dna
.hc*
.hc
.running
tags
tags*
data
store_file store_file-shm store_file-wal
pid_file
store_file*
lair-keystore-config.yaml
.env
